# Ignore vim packages
vim/.vim/plugged

# Ignore weechat logs
weechat/weechat.log
weechat/logs

# Ignore virtualenv
venv/

# Ignore installation log
install.log

# Ignore output files from templates
dunst/dunstrc
zathura/zathurarc
