[submodule "vim/pack/plugins/start/vim-eunuch"]
	path = vim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/plugins/start/vim-sandwich"]
	path = vim/pack/plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "vim/pack/plugins/start/vim-minisnip"]
	path = vim/pack/plugins/start/vim-minisnip
	url = https://github.com/joereynolds/vim-minisnip
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/plugins/start/async.vim"]
	path = vim/pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/pack/plugins/start/vim-lsp"]
	path = vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/plugins/start/vim-signify"]
	path = vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/plugins/start/vim-dirvish"]
	path = vim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/pack/plugins/start/vim-gutentags"]
	path = vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/plugins/start/vim-elixir"]
	path = vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "vim/pack/plugins/start/vim-cpp-enhanced-highlight"]
	path = vim/pack/plugins/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim/pack/plugins/start/rust.vim"]
	path = vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/plugins/start/vim-jsx-pretty"]
	path = vim/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMellon/vim-jsx-pretty
[submodule "vim/pack/plugins/start/vim-python-pep8-indent"]
	path = vim/pack/plugins/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/plugins/start/vim-solarized8"]
	path = vim/pack/plugins/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
