# Maximum and minimum number of peers to connect to per torrent.
min_peers = 1
max_peers = 100

# Maximum and minimum number of peers to seed to per torrent.
min_peers_seed = 1
max_peers_seed = 50

# Maximum number of uploads single torrent may use
max_uploads = 10

# Maximum number of simultaneous downloads and uploads
max_downloads_global = 50
max_uploads_global = 30

# Global upload and download rate in KiB. "0" for unlimited.
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 300

# Default directory to save the downloaded torrents.
directory.default.set = ~/Downloads/incomplete

# Default session directory.
session = ~/.rtorrent.sessions

# Watch a directory for new torrents
schedule2 = watch_directory_1,5,5,"load_start=~/Downloads/*.torrent,d.set_custom1=~/Downloads/complete"

# Restart torrents that have been copied back and stop those that have been deleted
schedule2 = tied_directory,1,30,start_tied=
schedule2 = untied_directory,1,30,close_untied=

# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=2000M

# Periodically save session data
schedule = session_save,240,300,session_save=

# Ratio config
group.seeding.ratio.enable=
group2.seeding.ratio.min.set=100
group2.seeding.ratio.max.set=200
group2.seeding.ratio.upload.set=20M

# Move files to ~/Downloads/complete when download completes
system.method.set_key = event.download.finished,move_complete,"d.set_directory=$d.get_custom1=; execute=mv,-n,$d.get_base_path=,$d.get_custom1="

# Send notification when download is done
system.method.set_key = event.download.finished,notify_finished,"execute=notify_rtorrent,$d.get_name="

port_range = 33101-33199
port_random = yes

# Encryption options
encryption = allow_incoming,try_outgoing,enable_retry,prefer_plaintext

# Sort the main view by ratio
view.sort_current = main,greater=d.get_ratio=
view.sort_new = main,less=d.get_ratio=
view.sort = main

# Sort the seeding view by the upload rate and only show torrents with peers
view.sort_current = seeding,greater=d.get_up_rate=
view.filter = seeding,"and=d.get_complete=,d.get_peers_connected="
view.sort_new = seeding,less=d.get_up_rate=
view.sort = seeding

# Sort the leeching view by name
view.sort_current = leeching,greater=d.get_name=
view.sort_new = leeching,greater=d.get_name=
view.sort = leeching

# Filter the active view by connected peers
view.sort_current = active,less=d.get_name=
view.sort_new = leeching,less=d.get_name=
view.filter = active,d.get_peers_connected=
view.sort = active

schedule = sort_main,11,5,view.sort=main
schedule = sort_seeding,12,5,view.sort=seeding
schedule = sort_leeching,13,5,view.sort=leeching
schedule = sort_active,14,5,view.sort=active

# DHT Options
dht = on
dht_port = 6881
peer_exchange = yes
dht.mode.set = on
schedule = dht_node,30,0,"dht.add_node=dht.transmissionbt.com"

# Logging
#log.open_file = "log", (cat,"~/Downloads/logs/rtorrent-",(system.time),".log")
#log.add_output = "info", "log"
#log.add_output = "debug", "log"
