#define BASE_03           002b36
#define BASE_02           073642
#define BASE_01           586e75
#define BASE_00           657b83
#define BASE_0            839496
#define BASE_1            93a1a1
#define BASE_2            eee8d5
#define BASE_3            fdf6e3
#define YELLOW            b58900
#define ORANGE            cb4b16
#define RED               dc322f
#define MAGENTA           d33682
#define VIOLET            6c71c4
#define BLUE              268bd2
#define CYAN              2aa198
#define GREEN             859900
#define CAT(A, B)         A ## B
#define ARGB(alpha, hex)  argb:CAT(alpha, hex)

!! Xft Settings
Xft.dpi:                  96
Xft.antialias:            true
Xft.autohint:             true
Xft.rgba:                 rgb
Xft.hinting:              true
Xft.hintstyle:            hintslight

!! Colors
! BASE_03 at 5% lightness
*background:              #BASE_03
*foreground:              #BASE_0

*color8:                  #BASE_03
*color0:                  #BASE_02
*color10:                 #BASE_01
*color11:                 #BASE_00
*color12:                 #BASE_0
*color14:                 #BASE_1
*color7:                  #BASE_2
*color15:                 #BASE_3
*color3:                  #YELLOW
*color9:                  #ORANGE
*color1:                  #RED
*color5:                  #MAGENTA
*color13:                 #VIOLET
*color4:                  #BLUE
*color6:                  #CYAN
*color2:                  #GREEN

*fadeColor:               #BASE_03
*cursorColor:             #BASE_1
*pointerColorBackground:  #BASE_01
*pointerColorForeground:  #BASE_1

!! Scrollbar
URxvt.scrollstyle:        plain
URxvt.scrollColor:        #BASE_00
URxvt.scrollBar_right:    true
URxvt.thickness:          2
URxvt.internalBorder:     5

!! Font
URxvt.font:               -misc-tamzenforpowerline-medium-r-normal--16-116-100-100-c-80-iso8859-1
URxvt.boldFont:           -misc-tamzenforpowerline-bold-r-normal--16-116-100-100-c-80-iso8859-1
URxvt.letterSpace:        0.0

!! Real Transparency
!URxvt.depth:              32
! BASE_03 at 5% lightness
!URxvt.background:         [90]#00141A

!! Fake Transparency
!URxvt.transparent:       true
!URxvt.shading:           104
!URxvt.tintColor:         #BASE_03

!! Blur
!URxvt.blurRadius:        10

!! Extensions
URxvt.perl-ext-common:    default,matcher
URxvt.url-launcher:       /usr/bin/xdg-open
URxvt.matcher.button:     1

!! Other Settings
URxvt.termName:           xterm-256color
URxvt.saveLines:          100000
URxvt.buffered:           true

!! Rofi Config
!!! Appearance
rofi.bw:                  0
rofi.font:                TamzenForPowerline 16
rofi.eh:                  2
rofi.color-window:        ARGB(f2, BASE_03), ARGB(f2, BASE_03), ARGB(f2, BASE_01)
rofi.color-normal:        ARGB(00, BASE_03), ARGB(f2, BASE_1), ARGB(00, BASE_03), ARGB(00, BASE_03), ARGB(f2, YELLOW)
rofi.color-urgent:        ARGB(00, BASE_03), ARGB(f2, YELLOW), ARGB(00, BASE_03), ARGB(00, BASE_03), ARGB(f2, YELLOW)
rofi.color-active:        ARGB(00, BASE_03), ARGB(f2, YELLOW), ARGB(00, BASE_03), ARGB(00, BASE_03), ARGB(f2, YELLOW)
rofi.line-margin:         0
rofi.separator-style:     solid
rofi.hide-scrollbar:      true

!!! Layout
rofi.lines:               16
rofi.width:               100
rofi.padding:             250
rofi.fullscreen:          true
rofi.yoffset:             0
rofi.columns:             2

!!! Keybindings
rofi.kb-remove-char-back: BackSpace,Shift+BackSpace
rofi.kb-accept-entry:     Return,KP_Enter
rofi.kb-row-left:         Control-h
rofi.kb-row-down:         Control-j
rofi.kb-row-up:           Control-k
rofi.kb-row-right:        Control-l
rofi.kb-remove-to-eol:

!!! Other
rofi.matching:            fuzzy
rofi.terminal:            urxvtc
rofi.ssh-client:          ssh
rofi.ssh-command:         {terminal} -e {ssh-client} {host}
