!! Color definitions
!! black dark/light
#define color0_dfn #073642
#define color8_dfn #002b36

!! red dark/light
#define color1_dfn #dc322f
#define color9_dfn #cb4b16

!! green dark/light
#define color2_dfn  #859900
#define color10_dfn #586e75

!! yellow dark/light
#define color3_dfn  #b58900
#define color11_dfn #657b83

!! blue dark/light
#define color4_dfn  #268bd2
#define color12_dfn #839496

!! magenta dark/light
#define color5_dfn  #d33682
#define color13_dfn #6c71c4

!! cyan dark/light
#define color6_dfn  #2aa198
#define color14_dfn #93a1a1

!! white dark/light
#define color7_dfn  #eee8d5
#define color15_dfn #fdf6e3

!! Xft settings
Xft.dpi:                  96
Xft.antialias:            true
Xft.rgba:                 rgb
Xft.hinting:              true
Xft.hintstyle:            hintslight

!! Colors
*background:              color8_dfn
*foreground:              color12_dfn
*fadeColor:               color8_dfn
*cursorColor:             color14_dfn
*pointerColorBackground:  color10_dfn
*pointerColorForeground:  color14_dfn

!! scrollbar
URxvt.scrollstyle:        plain
URxvt*scrollColor:        #777777
URxvt*scrollBar_right:    true
URxvt.thickness:          2
URxvt.internalBorder:     5

!! Font
URxvt.font:               -*-tamzenforpowerline-medium-*-*-*-16-*-*-*-*-*-*-*
URxvt.boldFont:           -*-tamzenforpowerline-medium-*-*-*-16-*-*-*-*-*-*-*
URxvt.letterSpace:        0.0

!! Real transparency
!urxvt*depth:       32
!urxvt*background:  [90]color8_dfn

!! Fake transparency
urxvt*transparent:  true
urxvt*shading:      108
urxvt*tintColor:    color8_dfn

*color0:  color0_dfn
*color8:  color8_dfn
*color1:  color1_dfn
*color9:  color9_dfn
*color2:  color2_dfn
*color10: color10_dfn
*color3:  color3_dfn
*color11: color11_dfn
*color4:  color4_dfn
*color12: color12_dfn
*color5:  color5_dfn
*color13: color13_dfn
*color6:  color6_dfn
*color14: color14_dfn
*color7:  color7_dfn
*color15: color15_dfn

!! Rofi config
rofi.lines: 10
rofi.eh: 2
rofi.width: 100
rofi.padding: 300
rofi.opacity: 95
rofi.bw: 0
rofi.bc: color8_dfn
rofi.bg: color8_dfn
rofi.fg: color7_dfn
rofi.hlbg: color3_dfn
rofi.hlfg: color7_dfn
rofi.font: TamzenForPowerline 16
